<a href="https://colab.research.google.com/github/luisfernandogbraga/ANALISE_DE_PRODUCAO_DULOREN/blob/main/EXCEL_PARA_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import sqlite3

In [6]:
df= pd.read_csv('Arquivo.csv') # abrindo um csv em um df 

conn= sqlite3.connect('producao.db') #carrgando o arq
df.to_sql('producao', conn, index=False, if_exists='replace') #salvando o csv no arq slq

conn.close() #fechando a conecçao

# csv = Arquivo.csv
# sql = producao.db
# table = producao

In [7]:
display(df)

           DATA     ARTIGO  MAQUINA  METRAGEM
0    2023-10-30   BALLI 16      817     998.4
1    2023-10-30  BELLES 15      801    1284.0
2    2023-10-30  MURITI 10      805    3534.0
3    2023-10-30   BALLI 16      815     998.4
4    2023-10-30  BELLES 15      814    1669.2
..          ...        ...      ...       ...
530  2024-01-12  BELLES 15      850    2782.0
531  2024-01-12  STILED 18      827    1929.6
532  2024-01-12  STILED 18      825    1742.0
533  2024-01-12  BELLES 15      814    1926.0
534  2024-01-12   BALLI 16      815     684.0

[535 rows x 4 columns]