<a href="https://colab.research.google.com/github/luisfernandogbraga/ANALISE_DE_PRODUCAO_DULOREN/blob/main/EXCEL_PARA_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install odfpy

Requirement already satisfied: odfpy in /usr/local/python/3.10.8/lib/python3.10/site-packages (1.4.1)
Requirement already satisfied: defusedxml in /home/codespace/.local/lib/python3.10/site-packages (from odfpy) (0.7.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import sqlite3

In [2]:
ods = 'controle.ods'
df = pd.read_excel(ods, engine='odf')

csv = 'Arquivo.csv'
try:
    df.to_csv(csv, index=False, sep=',')
    print(f'Dados tratados salvos em {csv}')
except Exception as e:
    print(f'Erro ao salvar o arquivo CSV: {e}')

Dados tratados salvos em Arquivo.csv

In [3]:
data= 'producao.db' #aqr sql
csv= 'Arquivo.csv' #csv
table= 'producao' # tabela do arq sql

conn= sqlite3.connect(data) #carrgando o arq
df= pd.read_csv(csv) #carregando o csv
df.to_sql(table, conn, index=False, if_exists='replace') #salvando o csv no arq slq

conn.close() #fechando a conecçao

In [5]:
display(df)

           DATA     ARTIGO  MAQUINA  PESO  METRAGEM
0    2023-10-30   BALLI 16      817   2.4    998.40
1    2023-10-30  BELLES 15      801   6.0   1284.00
2    2023-10-30  MURITI 10      805  18.6   3534.00
3    2023-10-30   BALLI 16      815   2.4    998.40
4    2023-10-30  BELLES 15      814   7.8   1669.20
..          ...        ...      ...   ...       ...
420  2023-12-06  BELLES 15      810  10.6   2268.40
421  2023-12-06  MURITI 10      906  10.3    399.64
422  2023-12-06  MURITI 10      906  10.3    399.64
423  2023-12-06  MURITI 10      903   9.4    364.72
424  2023-12-06  MURITI 10      903   9.6    372.48

[425 rows x 5 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DATA      425 non-null    object
 1   ARTIGO    425 non-null    object
 2   MAQUINA   425 non-null    int64
 3   PESO      425 non-null    float64
 4   METRAGEM  425 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 16.7+ KB