<a href="https://colab.research.google.com/github/luisfernandogbraga/ANALISE_DE_PRODUCAO_DULOREN/blob/main/EXCEL_PARA_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install odfpy

Requirement already satisfied: odfpy in /usr/local/python/3.10.8/lib/python3.10/site-packages (1.4.1)
Requirement already satisfied: defusedxml in /home/codespace/.local/lib/python3.10/site-packages (from odfpy) (0.7.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
ods = 'controle.ods'
df = pd.read_excel(ods, engine='odf')

csv = 'controle.csv'
try:
    df.to_csv(csv, index=False, sep=',')
    print(f'Dados tratados salvos em {csv}')
except Exception as e:
    print(f'Erro ao salvar o arquivo CSV: {e}')

Dados tratados salvos em controle.csv

In [5]:
df.head()

        DATA     ARTIGO  MAQUINA  PESO  METRAGEM
0 2023-10-30   BALLI 16      817   2.4     998.4
1 2023-10-30  BELLES 15      801   6.0    1284.0
2 2023-10-30  MURITI 10      805  18.6    3534.0
3 2023-10-30   BALLI 16      815   2.4     998.4
4 2023-10-30  BELLES 15      814   7.8    1669.2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DATA      383 non-null    datetime64[ns]
 1   ARTIGO    383 non-null    object
 2   MAQUINA   383 non-null    int64
 3   PESO      383 non-null    float64
 4   METRAGEM  383 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 15.1+ KB